.product
  %h3 
    =product.name

  - if product.image.present?  
    %p
      =image_tag product.image, height: '150'
  %p
    =number_to_currency(product.price)
  %p
    =link_to 'View details', product_path(product)


    