.productDetail
  %h3 
    =@product.name
  %p
    Designer: 
    =@product.designer.company
  %p
    =@product.description
  %span
    =number_to_currency(@product.price)
  - if @product.image.present?
    %p
      =image_tag @product.image, height: '200'
