// Place all the styles related to the product controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.product {
	float: left;
	width: 300px;
	min-height: 320px;
	border: 1px;
	background-color: #eee;
	margin: 5px;
	padding: 15px;
}