%h2
  Filter By Category 
=render partial: 'search'
%p
  = link_to "Show All Products", products_path 
  %br/
  -@categories.each do |category|
    =link_to category.name, filter_by_category_path(category)
%p
  =render partial: 'shared/product', collection: @products