%h2
  Store index

=render partial: 'search'
%p
  %br/
  -@categories.each do |category|
    =link_to category.name, filter_by_category_path(category)
%p
  =render partial: 'shared/product', collection: @products
